<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Normalize CSS -->
    <!-- <link rel="stylesheet" href="./css/normalize.css"> -->

    <!-- Popop CSS -->
    <link rel="stylesheet" href="./css/popop.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/order.css">

    <!-- Popop JS -->
    <script defer src="./js/popop.js"></script>

    <script defer src="https://checkout.stripe.com/checkout.js"></script>
    <script>
      const stripePublicKey = '<%= stripePublicKey %>'
    </script>

    <!-- Custom JS -->
    <script defer src="./js/custom.js"></script>

    <title>Round Hounds: Burgers & Fries </title>
</head>
<body>

    <header>
        <nav>
            <ul class="navBar">
              <li>
                <a href="/">
                  Home
                </a> 
                </li>
              <li>
                <a href="/order">
                  Menu
                </a> 
              </li>
              <li>
                <a href="/order">
                  Order Online
                </a> 
              </li>
              <li>
                <a href="/about">
                  Our Story
                </a> 
              </li>
            </ul>
          </nav>
    </header>
    <main>
    <section>
        <section class="container content-section">
            <h2 class="section-header">MENU</h2>
            <div class="shop-items">
                <% items.menu.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
       
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
      </main>
</body>
</html>